@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    color: slategray;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: slategray;
}

.container{
    max-width: 1400px;
    margin: 20px auto;
}
.post{
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
}
.post-item{
    width: calc(100%/5 - 20px);
    margin-left: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.289);
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s linear;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.post-content{
    padding: 15px;
    /* text-align: justify; */
    /* flex-grow: 1;  */
    display: flex; /*chiến full nd chứa item */
    flex-direction: column;
}
.row{
    flex-direction: row;
}

@media screen and (max-width: 990px){
    .post-item{
        width: calc(100%/2 - 20px);
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 576px){
    .post-item{
        width: calc(100% - 20px);
        flex-wrap: wrap;
    }
}